#loading, #acc_loading, #pwd_loading, #pic_loading{
	left:10px;
	position:relative;
	top:11px;
	visibility:hidden;
}

   #error{
	background-color:#DB7093;
	border:1px #DB7093;
	text-align:center;
	color:#fff;
	margin-top:10px;
	font-size:15px;
}

.error {
  padding: 5px 14px 5px 14px;
  margin-bottom: 2px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin-top:-12px !important;
  color:rgba(0, 0, 0, 0.4);

}

.done{
  padding: 5px 14px 5px 14px;
  margin-bottom: 2px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
